.curve-list-container {
    width: 320px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    z-index: 20;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.curve-list {
    list-style-type: none;
    padding: 0;
}

.curve-list li {
    margin-bottom: 8px;
    cursor: pointer;
}

.curve-list li a {
    color: black;
    text-decoration: underline;
}

.active-curve a {
    color: goldenrod !important;
}

.add-curve-container {
    margin-top: 16px;
    width: fit-content;
}

.add-curve-container input {
    padding: 8px;
    margin-right: 8px;
}

.add-curve-container button {
    padding: 8px;
    cursor: pointer;
}

.cont {
    position: absolute;
    top: 10px;
    right: 10px;
}